/* ReportDetails.css */
.report-container {
    margin: 20px;
    /* Add margin for spacing */
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    /* Add margin for spacing */
}

.report-table th,
.report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.print-button {
    position: fixed;
    background-color: green;
    top: 50px;
    right: 50px;
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}